$font-family-base:          'proxima_novaregular' !default;
$brand-primary:              #5e6079 !default;
$gray-lighter:               #D2D1E2 !default;
$text-color:                 $brand-primary !default;
$font-family-gloriola-light: "gloriola_stdlight", "Times New Roman", Times, serif !default;
$font-family-proxima-bold:   "proxima_novabold", Helvetica, Arial, sans-serif !default;

$btn-primary-bg:                 #4557b8 !default;
$btn-danger-bg:                  #f1514b !default;